html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p,span{
    margin: 0;
    padding: 0;
    font-weight: inherit;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.inner__Aazz-Word{
    display: flex;
    justify-content: start;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;     
    .Aazz,
    .Word{
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 40px;
        padding-right: 20px;
        color: #000;
    }
    .Word{
        color: #7347c1;
    }
}
.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
  }