@import 'vars';
@import 'global';
@import 'fonts';



//header start
.header__top{
    background-color: #eef1f3;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;    
}
.header__menu-inner{
    display: flex;
    justify-content: space-between;
}
.header__btn{
    padding: 9px;
    width: 140px;
    background-color: #0674ec;
    color: #fff;
    border-radius: 16px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;    
}
.header__menu{
    background-color: #fff;
}
.header__menu-inner{    
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.menu__list{    
    li{
        display: inline-block;
        
        & + li{
            margin-left: 32px;
        }
        a{
            color: #333;
            font-weight: 15px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}
.search__inner-form{
    min-width: 360px;    
    position: relative;
    font-size: 15px;
    font-weight: 400;
    input{ 
        border: 1px solid #d9dfe5;
        border-radius: 19px;   
        width: 100%;
        height: 44px;
        display: block;
        outline: none;
        padding-left: 24px;
        padding-right: 72px;
        &::placeholder{
            color: #999ea4;            
        }
        /*input*/&:focus {
        border: 1px solid #0674ec;
        border-radius: 19px;  
        }
    }        
    button{
        background-color: #0674ec;
        border-radius: 19px;
        border: none;
        position: absolute;
        width: 70px;
        height: 44px;
        top: 0;
        right: 0;
        &:focus {
            border: 2px solid #999ea4;
            border-radius: 19px;
            outline: none;
        }
    }
}
//header end

//Create_Your_Own start
.Create_Your_Own{
    width: 100%;
    min-height: 726px;
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.Create_Your_Own__inner{
    color: #f3f3f8;
    padding: 180px 0 90px;
    text-align: center;
}
.Create_Your_Own__inner-title{
    & p{
        font-size: 60px;
    }
    & span{
        font-weight: 700;
        font-size: 60px;        
    }
    margin-bottom: 30px;    
}
.Create_Your_Own__inner-text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 67px;
}
.Create_Your_Own__inner-btn{
    a{
    font-size: 16px;
    width: 190px;
    background-color: #fff;
    border-radius: 24px;
    padding: 20px 0px;
    color: #0674ec;
    }
    .inversion{
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    margin-left: 25px;
    }
}

.search__box{
    min-height: 160px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    position: absolute;
    bottom: -66px;
    left: 0;
    right: 0;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    .box1{
        position: relative;
        top: -13px;
    }    
    .box1::after,
    .box2::after{
        content: '';
        min-height: 30px;
        right: 0;
        left: 0;
        border-radius: 5px;
        background-color: rgba(255,255,255,0.8);        
        position: absolute;
        z-index: 3;        
    }
    .box2::after{
        content: '';
        background-color: rgba(255,255,255,0.8);
        right: 15px;
        left: 15px;
        top: -13px;
    }
}  
.box__inner-form{
    padding: 40px 40px;    
    form{
    display: flex;   
    justify-content: space-between; 
    align-items: center;
    }
    input{ 
        border: 1px solid #dcdcdc;
        border-radius: 3px 0 0 3px;       
        height: 54px;
        max-width: 613px;
        width: 100%;
        outline: none;
        padding-left: 30px;
        padding-right: 72px;
        &::placeholder{
            color: #555;            
        }    
    }
    .box__list{
        top: 40px;
        right: 292px;
        color: #555;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        outline: none;
        border-radius: 0 3px 3px 0;       
        height: 54px;
        max-width: 194px;
        width: 100%;
        text-align: center;
        padding-top: 15px;
        & img{
            padding-left: 40px;
        }
    }
    button{
        background-color: #0674ec;
        color: #fff;
        border-radius: 3px;
        border: none;
        height: 54px;
        min-width: 223px;
        margin-left: 30px;
        &:focus {
            border: 2px solid #999ea4;
            border-radius: 3px;
            outline: none;
        }
    }    
}
//Create_Your_Own end

//features start
.features{
    min-height: 710px;
    width: 100%;
    background-color: #fff;
}
.features__inner{
    padding-top: 186px;
    display: flex;
    justify-content: space-between;
}
.shadow{
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}
.features__item{
    background-color: #fff;
    max-width: 360px;
    margin: 0 15px;
    text-align: center;
    font-weight: 400;
    padding: 40px 28px 50px;
    &-titel{
        font-size: 24px;
        margin-bottom: 28px;
        color: #000;
    }
    &-text{
        font-size: 16px;
        line-height: 30px;
        color: #6c6c6c;
    }
    img{
        margin-bottom: 36px;
    }
}
//features end

//featured-item start
.featured-item{
    background-color: #eff1f5;
    min-height: 850px;
    font-weight: 400;
}
.featured-item__inner{
    padding-top: 120px;    
}
.featured-item__inner-titel{
    margin-bottom: 50px;
    height: 110px;
    background-color: #fff;
    font-size: 30px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .featured-item__inner-bottom{
        width: 110px;
        height: 45px;
        background-color: #7347c1;
        border-radius: 20px;
        margin-right: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            width: 8px;
            height: 14px;
        }
        .right{
            margin-right: 26px;
        }
        .left{
            margin-left: 26px;
        }
    }

}
.featured-item__inner-slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .featured-item1-bg{
        display: none;
    }    
    .featured-item1{
        width: 50%;
        min-height: 450px;
        background-color: #4e5760;
        &:hover{
            .featured-item1-bg{
                min-height: 450px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                background-color: green;
                .btm{
                    width: 130px;
                    height: 45px;
                    text-align: center;
                    padding-top: 14px;
                    font-weight: 500;
                    font-size: 15px;
                    border-radius: 20px;
                    outline: none;
                    cursor: pointer;
                } 
                .featured-item1-r{
                    margin-left: 10px;
                    background-color: #fff;
                    mix-blend-mode:screen;/*цвет текста какой фон, прозрачный текст*/
                }
                .featured-item1-l{
                    color: #fff;
                    border: 1px solid #fff; 
                }
            }
        } 
    }
    .featured-item2{
        width: 50%;
        padding: 50px 50px 24px;        
        min-height: 450px;
        background-color: green;
        .featured-item2-titel{
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 12px;
        }    
        .featured-item2-text{
            .text{
                font-size: 16px;
                line-height: 30px;
                color: #555;
                margin: 0; 
                margin-bottom: 34px;
                min-width: 485px;
            }

            .inner__Aazz-Word{
                margin-bottom: 33px;
            }
        }
        .featured-item2-buttom{
            a{
                font-size: 16px;
                line-height: 28px;
                padding-left: 18px;
                padding-right: 15px;
                background-color: #f1f3f6;
                border-radius: 11px;
                margin-bottom: 44px;
            }
        }
        .featured-item2-basket{
            max-width: 485px;
            border-top: 1px solid #ececec;
        }
    }
    
}


//featured-item end
