@import 'vars';
@import 'global';
@import 'fonts';



//header start
.header__top{
    background-color: #eef1f3;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;    
}
.header__menu-inner{
    display: flex;
    justify-content: space-between;
}
.header__btn{
    padding: 9px;
    width: 140px;
    background-color: #0674ec;
    color: #fff;
    border-radius: 16px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;    
}
.header__menu{
    background-color: #fff;
}
.header__menu-inner{    
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.menu__list{    
    li{
        display: inline-block;
        
        & + li{
            margin-left: 32px;
        }
        a{
            color: #333;
            font-weight: 15px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}
.search__inner-form{
    min-width: 360px;    
    position: relative;
    font-size: 15px;
    font-weight: 400;
    input{ 
        border: 1px solid #d9dfe5;
        border-radius: 19px;   
        width: 100%;
        height: 44px;
        display: block;
        outline: none;
        padding-left: 24px;
        padding-right: 72px;
        &::placeholder{
            color: #999ea4;            
        }
        /*input*/&:focus {
        border: 1px solid #0674ec;
        border-radius: 19px;  
        }
    }        
    button{
        background-color: #0674ec;
        border-radius: 19px;
        border: none;
        position: absolute;
        width: 70px;
        height: 44px;
        top: 0;
        right: 0;
        &:focus {
            border: 2px solid #999ea4;
            border-radius: 19px;
            outline: none;
        }
    }
}
//header end

//Create_Your_Own start
.Create_Your_Own{
    width: 100%;
    min-height: 726px;
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Create_Your_Own__inner{
    color: #f3f3f8;
    padding: 180px 0 90px;
    text-align: center;
}
.Create_Your_Own__inner-title{
    & p{
        font-size: 60px;
    }
    & span{
        font-weight: 700;
        font-size: 60px;        
    }
    margin-bottom: 30px;    
}
.Create_Your_Own__inner-text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 67px;
}
.Create_Your_Own__inner-btn{
    a{
    font-size: 16px;
    width: 190px;
    background-color: #fff;
    border-radius: 24px;
    padding: 20px 30px;
    color: #0674ec;
    }
    .inversion{
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    margin-left: 25px;
    }
}

.test /*search__box*/{
    min-height: 160px;
    width: 100%;
    background-image: url(../images/BG.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

//Create_Your_Own end

//features start
.features-inner{
    min-height: 710px;
    width: 100%;
    background-color: /*#fff*/ red;
}
//features end